  
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <!--
    Modified from the Debian original for Ubuntu
    Last updated: 2016-11-16
    See: https://launchpad.net/bugs/1288690
  -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pagina Oficial de Baltrí</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon'/ >
  </head>
  <body ng-app="mainApp" ng-controller="mainCtrl">
    <nav class="navbar navbar-inverse no-border-radius">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand nav-head hvr-overline-from-center" href="#">BALTRÍ</a>
        </div>
        <ul class="nav navbar-nav right-items">
          <li><a href="#" class="hvr-overline-from-right" id="nosotros" ng-click="sectionChange($event)">Nosotros</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="jueguitos" ng-click="sectionChange($event)">Lo Jueguito'</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="baltriforo" ng-click="sectionChange($event)">Baltriforo</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="tienda" ng-click="sectionChange($event)">Tienda</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="proxeventos" ng-click="sectionChange($event)">Próximos Eventos</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="provincia" ng-click="sectionChange($event)">Provincia 33</a></li>
          <li><a href="#" class="hvr-overline-from-right" id="contacto" ng-click="sectionChange($event)">Contáctanos</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row" ng-if="section=='nosotros'">
        <div class="col-lg-12">
          <div class="row nav-section">
            <div class="col-md-6">
              <h2 class="page-title">NOSOTROS</h2>
              <img src="baltripc.png" style="width: 45%;margin-left: 150px;">
            </div>
            <div class="col-md-6">
              <h4 style="text-align: justify;margin-top: 68px;">
                Baltrí es un proyecto que nace en el ano del 2033 (2014 ayos luz terrestes) 
                Baltrí bienes de la palabra imbentada por bill geys "Badtrip" que kiere desil Mal Viaje

                Ete pais esta llenos de bal tris portodas parte30
                muchas basura
                no sabemo k aser
                todo bien 
                klk eso no e na
                empanada mi socio kalne o pekaos
                Somo un bastion bakanisimo
                Amigo d kristian casablanca personal monky bla se comunica con nosotro por medio de nuestra ouija
                BEEEEEEEEEEEEEEEEEEEEEEEEE
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='jueguitos'">
        <div class="col-lg-12">
          <div class="row nav-section text-center">
            <h2 class="page-title" style="margin-left: 28px;">VAMO A JUGA</h2>
              <ul>
                <li class="page-links"><a class="rainbow-text" href="https://www.playretrogames.com/nintendo/all">Lintendo</a></li>
                <li class="page-links"><a class="rainbow-text" href="http://emulator.online/snes/">Superlintendo</a></li>
                <li class="page-links"><a class="rainbow-text" href="https://www.playretrogames.com/gba/all">Gemboi</a></li>
              </ul>
            
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='baltriforo'">
        <div class="col-lg-12">
          <div class="row nav-section">
            
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='tienda'">
        <div class="col-lg-12">
          <div class="row nav-section">
            
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='proxeventos'">
        <div class="col-lg-12">
          <div class="row nav-section">
            
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='provincia'">
        <div class="col-lg-12">
          <div class="row nav-section">
            
          </div>
        </div>
      </div>
      <div class="row" ng-if="section=='contacto'">
        <div class="col-lg-12">
          <div class="row nav-section">
            
          </div>
        </div>
      </div>
    </div>
    <footer class="footer no-border-radius">
      <div class="container">
        <p class="text-center text-muted text-footer">&copy; 2019&nbsp;&nbsp; Baltrí. Todos los derechos reservados.</p>

      </div>
      <div class="container">
        <div class="text-center center-block" id="lab_social_icon_footer">
          <a target="_blank" href="https://www.facebook.com/baltrisaso"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a target="_blank" href="https://twitter.com/baltri_"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a target="_blank" href="https://www.instagram.com/baltri__/"><i id="social-gp" class="fa fa-instagram fa-3x social"></i></a>
          <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="css/hover-min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    
  </body>
</html>

