<div class="container">
	<h4>
		Baltrí es un proyecto que nace en el ano del 2033 (2014 ayos luz terrestes) 
		Baltrí bienes de la palabra imbentada por bill geys "Badtrip" que kiere desil Mal Viaje

		Ete pais esta llenos de bal tris portodas parte30
		muchas basura
		no sabemo k aser
		todo bien 
		klk eso no e na
		empanada mi socio kalne o pekaos
		Somo un bastion bakanisimo
		Amigo d kristian casablanca personal monky bla se comunica con nosotro por medio de nuestra ouija
		BEEEEEEEEEEEEEEEEEEEEEEEEE
	</h4>
</div>	